[MASTER]
ignore=__pycache__

[MESSAGES CONTROL]
disable=
    protected-access,
    redefined-outer-name,
    invalid-name,
    unused-argument,
    missing-docstring,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring
